span.article-date {
  color: gray;
}

pre {
  margin: 14px auto;
  max-width: 100ch;
  overflow: auto;
  padding: 5px 5px;
}


.half-page {
  height: 50vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fullwidth > figure {
  max-width: 100%
}

#disqus_thread {
  max-width: 960px;
}

#avatar {
  height: 30vh;
  background-image: url(https://avatars2.githubusercontent.com/u/888716);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f0f0f0;
}

.intro {
  font-size: 3rem;
}

.card-image-banner {
  min-height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

pre.example {
  background-color: #ffffdf;
  color: black;
}
